.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout_ad{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

}
.checkout_left{
    margin-right: 50px;
}